.blog-post {
  background: #ffffff;
  border: 2px solid#D41B2C;; 
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 600px;
  box-sizing: border-box;
  margin-left: 15%;
}

@media (max-width: 600px) {
  .blog-post {
    width: 90%;
    margin: 100px 0;
    padding: 50px;
    height: 300px;
  }

  .post-username {
    font-weight: bold;
    margin-bottom: 5px; 
    color: #333333; 
  }

  .post-content {
    margin-bottom: 50px; 
    font-size: 1rem; 
    color: #333333; 
    line-height: 1.6; 
  }

  .post-time {
    font-size: 0.95rem; 
    color: #333333;
    margin-bottom: 20px;
  }
}