.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.blog-form-container {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  z-index: 90;
}

.blog-posts {
  position: relative;
  padding-top: 350px;
  z-index: 1; 
  padding-bottom: 20px;
}
